include ../mixins
+doctype('Page title')

body
    include ../_blocks/header
    include ../_blocks/main
    include ../_blocks/band
    include ../_blocks/events
    include ../_blocks/music
    include ../_blocks/lyrics
    include ../_blocks/galery
    include ../_blocks/contacts
    include ../_blocks/footer

