/* base resources */
@import "base-resources/normalize";
@import "base-resources/_fonts";
@import "base-resources/_colors";
@import "base-resources/_specification";

/* sticky footer begin */
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.main {
    flex: 1 1 auto;
}

/* sticky footer end */

.section__head{
    text-transform: uppercase;
    font-size: 8.7rem;
    color: #000000;
    font-family: "Felixti";
    & span{
        color: #950f0f;
    }
}


/*---------HEADER--------*/

.header{
    background-color: #f3f3f4;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    &__box{
        margin-left: 300px;
    }
}
// burger begin
.burger {
    display: none;
    &__menu {
        padding-top: 5px;
        display: flex;
        align-items: center;
        & > li {
            margin-right: 2px;
            &:last-child{
                margin-right: 0;
            }
        }
    }
    &__link {
        font-family: 'Gothic';
        margin: 0 20px;
        padding: 10px 25px;
        font-size: 1.8rem;
        color: #000;
        transition: all 0.5s;
        border-radius: 25px;
        text-transform: uppercase;

        &:hover{
            color: #ffffff;
            background-color: #000000;
            transition: all 0.5s;
        }
    }

}
// burger end




/*-------MAIN-----*/
.main{
    background-color: #efefef;
    &__content{
        position: static;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        text-align: center;
        align-items: center;
    }
    &__head{
        width: 100%;
        margin-top: 304px;
    }
    &__tree{
        position: absolute;
        top: 0;
        left: 0;
        width: 601px;
        height: 349px;
    }
    &__title{
        font-size: 1.5rem;
        color: #000000;
        font-family: "Gothic";
        margin-top: 30px;
        margin-bottom: 150px;
        width: 100%;
    }
    &__horse{
        position: absolute;
        bottom: 245px;
        right: 50px;
        width: 147px;
        height: 119px;
    }
    &__low{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        text-align: center;
        align-items: center;
        position: relative;
        height: 240px;
    }
    &__btn{
        @extend .burger__link;
    }
}


/*--------BAND------*/

.band{
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    flex-wrap: wrap;
    background-color: #f0f0f0;
    &__content{
        width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        text-align: center;
        align-items: center;
    }
    &__head{
        margin-top: 100px;
        margin-bottom: 100px;
    }
}
.bx-controls-direction{
    position: relative;
}

.bx-prev{
    position: absolute;
    bottom: 400px;
    left: -220px;
    width: 0;
    height: 0;
    border-top: 37px solid transparent;
    border-right: 65px solid #d7d7d7;
    border-bottom: 37px solid transparent;
    transition: all .3s ease;
    &:hover {
        border-right: 65px solid #ffffff;
        transition: all .2s ease;
    }
}
.bx-next{
    position: absolute;
    bottom: 400px;
    right: -220px;
    width: 0;
    height: 0;
    border-top: 37px solid transparent;
    border-left: 65px solid #d7d7d7;
    border-bottom: 37px solid transparent;
    transition: all .3s ease;
    &:hover{
        border-left: 65px solid #ffffff;
        transition: all .2s ease;
    }
}

.band__slide{
    display: flex;
}
.slider__left{
    height: 556px;
    width: 791px;
}

.slider__right{
    text-align: left;
    margin: 125px 0 0 -130px;
    overflow: auto;
    height: 556px;
    & p:nth-child(1){
        font-family: 'Felixti';
        font-size: 3.5rem;
        color: #000;
    }
    & p:nth-child(2){
        font-family: 'Felixti';
        font-size: 2.6rem;
        color: #000000;
    }
}



/*---------EVENTS------*/

.events{
    background-color: #f0f0f0;
    &__content{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        text-align: center;
    }
    &__title{
        @extend .section__head;
        margin: 0;
        padding: 200px 0 80px 0;
        width: 100%;
    }
    &__cell{
        width: 247px;
        height: 247px;
        margin-top: -7px;
        margin-left: 75px;
    }
    &__map{
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        justify-content: center;
        &__line{
            width: 100%;
            display: flex;
            align-items: center;
            & div:nth-child(even){
                width: 16px;
                height: 16px;
                border-radius: 50%;
                background-color: #707070;
            }
            & div:nth-child(odd){
                width: 93px;
                height: 1px;
                background-color: #000000;
            }
            & div:nth-child(1){
                width: 400px;
                height: 1px;
                background-color: #000000;
            }
            & div:nth-child(17){
                width: 210px;
                height: 1px;
                background-color: #000000;
            }
        }
        &__event{
            width: 100%;
            display: flex;
            justify-content: left;
        }
        &__measure{
            font-family: 'Gothic';
            font-size: 1.3rem;
            color: #707070;
            display: flex;
            margin-left: 12px;
            margin-top: 15px;
            width: 670px;
            display: flex;
            justify-content: space-between;
            & li{
                cursor: default;
                text-align: left;
                writing-mode: tb-rl;
                &:hover{
                    color: #000000;
                }
            }
        }
    }
}


.happening{
    &__item {
        width: 1220px;
        display: flex;
        border-bottom: #000000 dashed 1px;
        justify-content: space-between;
        align-items: center;
        padding-bottom: 40px;
        margin-top: 35px;
    }
    &__date{
        width: 270px;
        border-right: 1px #000000 solid;
        display: flex;
        align-items: center;
        justify-content: center;
        &__number{
            font-family: 'Felixti';
            font-size: 11.7rem;
            color: #000000;
        }
        &__month{
            font-family: 'CenturyGothic';
            font-size: 2.8rem;
            color: #000000;
        }
    }
    &__name{
        font-family: 'CenturyGothic';
        font-size: 2.2rem;
        color: #000000;
        display: flex;
        text-align: left;
        align-items: center;
        text-transform: uppercase;
    }
    &__btn{
        font-family: 'CenturyGothic';
        font-size: 2.2rem;
        color: #000;
        font-weight: bold;
        width: 185px;
        height: 45px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #d7d7d7;
        transition: 0.3s all ease;
        cursor: default;
        &:hover{
            background-color: #fafafa;
            transition: 0.3s all ease;
        }
    }
}




/*----------------MUSIC------*/

.music{
    background-color: #f0f0f0;
    &__content{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    &__title{
        @extend .section__head;
        width: 100%;
        margin-bottom: 80px;
    }
    &__albums{
        width: 50%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-start;
        text-align: left;
        align-items: center;
        &__title{
            margin: 120px 0 33px;
            width: 100%;
            font-size: 2.2rem;
            color: #000000;
            font-family: "CenturyGothic";
            font-weight: bold;
        }
    }
}

.album{
    width: 100%;
    &__item{
        margin: 7px 0;
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
    }
    &__name{
        width: 50%;
        font-size: 1.9rem;
        color: #000000;
        font-family: "CenturyGothic";
    }
    &__listen{
        margin: 0 10px;
        font-family: "CenturyGothic";
        font-weight: bold;
        font-size: 1.5rem;
        color: #000000;
        width: 120px;
        height: 30px;
        border: none;
        background-color: #d7d7d7;
        transition: 0.3s all ease;
        &:hover{
            background-color: #898989;
            color: #ffffff;
            transition: 0.3s all ease;
        }
    }
    &__buy{
        @extend .album__listen;
    }
}

.songs{
    width: 50%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    text-align: left;
    &__now{
        font-size: 2.2rem;
        font-family: "CenturyGothic";
        font-weight: bold;
        color: #000000;
        width: 100%;
        margin-bottom: 50px;
        margin-left: 57px;
    }
    &__name{
        width: 100%;
        font-size: 4.6rem;
        font-family: "CenturyGothic";
        font-weight: bold;
        color: #898989;
        margin-bottom: 17px;
        margin-left: 57px;
    }
    &__album{
        margin-bottom: 50px;
        width: 100%;
        font-size: 1.6rem;
        color: #000000;
        font-family: "CenturyGothic";
        margin-left: 57px;
    }
    &__control{
        width: 100%;
        display: flex;
        justify-content: center;
        & div:nth-child(1){
            border: 12px solid transparent;	border-right: 20px solid #cccccc;
        }
        & div:nth-child(2){
            margin-right: 2px;
            margin-left: 52px;
            width: 7px;
            height: 24px;
            background-color: #cccccc;
        }
        & div:nth-child(3){
            margin-left: 2px;
            margin-right: 52px;
            width: 7px;
            height: 24px;
            background-color: #cccccc;
        }
        & div:nth-child(4){
            border: 12px solid transparent;	border-left: 20px solid #cccccc;
        }
    }
    &__progress{
        margin-top: 25px;
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        & div:nth-child(1){
            width: 270px;
            height: 1px;
            background-color: #757675;
        }
        & div:nth-child(3){
            width: 210px;
            height: 1px;
            background-color: #bbbbbb;
        }
        & div:nth-child(2){
            width: 8px;
            height: 8px;
            background-color: #000000;
            border-radius: 50%;
        }
    }
    &__album2{
        width: 100%;
        font-size: 2rem;
        color: #000000;
        font-family: "CenturyGothic";
        font-weight: bold;
        margin-top: 80px;
        margin-left: 57px;
    }
    &__list{
        margin-top: 25px;
        margin-left: 57px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        &__item{
            margin: 12px 0;
            width: 100%;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            &__btn{
                height: 0;
                border: 5px solid transparent;
                border-left: 10px solid #d7d7d7;
                width: 5%;
            }
            & p{
                font-size: 1.7rem;
                font-family: "CenturyGothic";
                color: #000000;
            }
            & p:nth-child(2){
                width: 78%;
            }
        }
    }
}


/*-------LYRICS-------*/

.lyrics{
    background-color: #f0f0f0;
    &__content{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    &__title{
        @extend .section__head;
        width: 100%;
        margin: 140px 0 0;
    }
}
/*--------gallery------*/

.gallery{
    background-color: #f0f0f0;
    &__content{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        text-align: center;
        align-items: center;
    }
    &__title{
        @extend .section__head;
        width: 100%;
        margin-bottom: 150px;
    }
    &__photo{
        width: 50%;
        & img:nth-child(1){
            z-index: 1;
            position: relative;
            right: 200px;
        }
        & img:nth-child(2){
            z-index: 2;
            position: relative;
            bottom: 455px;
        }
    }
    &__video{
        width: 50%;
        & img:nth-child(1){
            z-index: 1;
            position: relative;
            left: 130px;
        }
        & img:nth-child(2){
            z-index: 2;
            position: relative;
            bottom: 455px;
        }
    }
}


/*-----contact us -------*/

.contact{
    background-color: #f0f0f0;
    margin-top: -400px;
    &__title{
        @extend .section__head;
    }
    &__content{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    &__form{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        justify-content: flex-start;
        & input:nth-child(1){
            width: 560px;
            height: 75px;
            background-color: #ebebeb;
            border: none;
            border-radius: 37px;
            font-size: 1.4rem;
            color: #000000;
            font-family: "CenturyGothic";
            padding-left: 30px;
        }
        & input:nth-child(2){
            width: 560px;
            height: 75px;
            background-color: #ebebeb;
            border: none;
            border-radius: 37px;
            font-size: 1.4rem;
            color: #000000;
            font-family: "CenturyGothic";
            padding-left: 30px;
            margin: 10px 0;
        }
        & input:nth-child(3){
            width: 560px;
            height: 130px;
            background-color: #ebebeb;
            border: none;
            border-radius: 37px;
            font-size: 1.4rem;
            color: #000000;
            font-family: "CenturyGothic";
            padding-left: 30px;
            padding-bottom: 55px;
        }
        & button{
            font-size: 2rem;
            font-family: "CenturyGothic";
            color: #ffffff;
            width: 132px;
            height: 55px;
            border: none;
            background-color: #000000;
            border-radius: 27px;
            margin-top: 15px;
        }
    }
    &__links{
        display: flex;
        margin: 65px 0 55px;
        & a{
            margin: 0 16px;
            font-family: "fontello";
            font-size: 2.5rem;
            color: #000000;
            transition: 0.3s all ease;
            cursor: default;
            &:hover{
                color: #990404;
                transition: 0.3s all ease;
            }
        }
    }
    &__post{
        font-size: 2.6rem;
        color: #000000;
        font-family: "CenturyGothic";
        margin-bottom: 15px;
    }
    &__number{
        font-size: 1.6rem;
        color: #000000;
        font-family: "CenturyGothic";
        margin-bottom: 5px;
    }
    &__email{
        font-size: 1.6rem;
        color: #000000;
        font-family: "CenturyGothic";
        margin-bottom: 125px;
    }
}
.contact__hand{
    position: absolute;
    margin-left: 550px;
    margin-top: 350px;
}
.footer{
    background-color: #000000;
    height: 175px;
}


