.band
    .container.band__content
        p.band__head.section__head ba<span>n</span>d
        ul.bxslider
            li.band__slide
                .slider__left
                    img(src="../img/band__img.png" alt="lolanta")
                .slider__right
                    p IOLANTA VALOJEK
                    p vocal
            li.band__slide
                .slider__left
                    img(src="../img/band__img.png" alt="lolanta")
                .slider__right
                    p IOLANTA VALOJEK
                    p vocal
            li.band__slide
                .slider__left
                    img(src="../img/band__img.png" alt="lolanta")
                .slider__right
                    p IOLANTA VALOJEK
                    p vocal
            li.band__slide
                .slider__left
                    img(src="../img/band__img.png" alt="lolanta")
                .slider__right
                    p IOLANTA VALOJEK
                    p vocal


script.
    $(document).ready(function () {
        $('.bxslider').bxSlider({
            pager:    false,
            controls: true,
            nextText: '',
            prevText: ''
        });
    });
