section.contact
    .contact__content.container
        p.contact__title
            | CON
            span T
            | ACT US
        form.contact__form(action='#', name='form')
            input(type='text', name='name', placeholder='YOUR NAME')
            input(type='email', name='email', placeholder='YOUR E-MAIL')
            input(type='text', name='message', placeholder='YOUR MESSAGE')
            button SEND
        .contact__links
            a(href='#') 
            a(href='#') 
            a(href='#') 
            a(href='#') 
            a(href='#') 
        p.contact__post Management
        p.contact__number +37549-570-66-66
        p.contact__email manage@misschambertale.by
        img.contact__hand(src='../img/lapka.png', alt='hand')
