section.events
    .events__content.container
        p.events__title
            | EVEN
            span T
            | S
        .events__map
            .events__map__line
                div
                div
                div
                div
                div
                div
                div
                div
                div
                div
                div
                div
                div
                div
                div
                div
                div
            .events__map__event
                .events__cell
                    img(src='../img/events__cell.png', alt='cell')
                ul.events__map__measure
                    li
                        p NOVEMBER 19 (2016)
                        p Miss Chambertale presentation
                    li
                        p NOVEMBER 26 (2016)
                        p Role-play game "Morningstar"
                    li
                        p JANUARY 26 (2017)
                        p Secrets in the wall concert
                    li
                        p MAY 30 (2017)
                        p Microfon school concert
                    li
                        p JUNE 25 (2017)
                        p The world of Tim Burton party
                    li
                        p DECEMBER 19 (2017)
                        p Tim Burton Christmas party
                    li
                        p MAY 30 (2018)
                        p Berries & tales album presentation
                    li
                        p DECEMBER 08 (2018)
                        p Night dress eve
        ul.happening
            li.happening__item
                .happening__date
                    .happening__date__number 08
                    .happening__date__month
                        p DEC
                        p 2018
                .happening__name
                    p NIGHTDRESS EVE / 210 METROV // Minsk, Belarus
                .happening__btn VIEW MORE
            li.happening__item
                .happening__date
                    .happening__date__number 30
                    .happening__date__month
                        p MAY
                        p 2017
                .happening__name
                    p berries & tales presentation / BRUGGE // Minsk, Belarus
                .happening__btn VIEW MORE
            li.happening__item
                .happening__date
                    .happening__date__number 19
                    .happening__date__month
                        p DEC
                        p 2017
                .happening__name
                    p TIM BURTON PARTY / BRUGGE // Minsk, Belarus
                .happening__btn VIEW MORE
