section.gallery
    .gallery__content.container
        p.gallery__title
            | GAL
            span L
            | ERY
        .gallery__photo
            img(src='../img/branch_photo.png', alt='branch__photo')
            img(src='../img/photo.png', alt='photo')
        .gallery__video
            img(src='../img/branch__video.png', alt='branch__video')
            img(src='../img/video.png', alt='video')
