.main
    .container.main__content
        img(src="../../img/tree.png" class="main__tree" alt="tree")
        p.main__head.section__head miss chamber<span>t</span>ale
        p.main__title From child fears. From adult dreams. <br>From shadows and rustles.
div(style={height: '25px', background: '#f4f4f4'})
div.main__low(style={background: '#dbdbdb'})
    img(src="../../img/horse.png" class="main__horse" alt="horse")
    a(class="main__btn" href="#") LISTEN NOW
