section.music
    .music__content.container
        p.music__title
            | MUS
            span I
            | C
        .music__albums
            img(src='../img/disc1.png', alt='disc1', width='584', height='517', style='margin-left: 50px; margin-top: -200px')
            p.music__albums__title Discography
            ul.album
                li.album__item
                    p.album__name Secrets in the wall (2016)
                    button.album__listen LISTEN
                    button.album__buy BUY
                li.album__item
                    p.album__name Berries & tales (2017)
                    button.album__listen LISTEN
                    button.album__buy BUY
        .songs
            p.songs__now Now playing
            p.songs__name Shore of LA
            p.songs__album Berries & tales (2017)
            .songs__control
                div
                div
                div
                div
            .songs__progress
                div
                div
                div
            p.songs__album2 Berries and tales (2017)
            ul.songs__list
                li.songs__list__item
                    .songs__list__item__btn
                    p Shore of LA
                    p 03:02
                li.songs__list__item
                    .songs__list__item__btn
                    p Secrets in the wall
                    p 03:56
                li.songs__list__item
                    .songs__list__item__btn
                    p Marble palace
                    p 03:25
                li.songs__list__item
                    .songs__list__item__btn
                    p Lorette
                    p 04:13
                li.songs__list__item
                    .songs__list__item__btn
                    p Next embrace
                    p 04:14
                li.songs__list__item
                    .songs__list__item__btn
                    p For may
                    p 05:24
                li.songs__list__item
                    .songs__list__item__btn
                    p Bolognese tears
                    p 02:44
                li.songs__list__item
                    .songs__list__item__btn
                    p Berries
                    p 05:44
                li.songs__list__item
                    .songs__list__item__btn
                    p Bonnie
                    p 03:18
                li.songs__list__item
                    .songs__list__item__btn
                    p Absinthe
                    p 03:28
